*.py[cod]
*.pyc
*.c

.idea/

# C extensions
*.so

# pickle
*.pkl
*.pt
*.avi
*.mp4

# large file
data_science/data.csv

# Packages
*.egg
*.egg-info
*.mp4
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Project related
.lsp_symlink/
.vscode
google_cloud/wget-log*
qlibs/mlruns
.virtual_documents
node_modules
yarn.lock
home
